*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial;
    width: 100%;
}
a {
    text-decoration: none;
}

::-webkit-scrollbar-track{
    background: var(--bg-gray);
}

section{
    padding: 5rem 0;
}

.nav-link {
    font-family: var(--primary-font);
    font-size: 0.9375rem;
    font-weight: 500px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

a .nav-link{
    color: black;
}
.nav-link :hover{
    color: var(--bg-black);
}

.banner_wrapper .banner_content{
    vertical-align: middle;
    align-self: center;
}

.banner_wrapper .banner_content h4::after{
    position: absolute;
    top: 50%;
    left: 25%;
    overflow-x: hidden;
}

.img-fluid{
    border-radius: 60px;
    width: 355px;
    height: 433px;
}

.Hero-img{
    border-radius: 40px;
    max-width: 500px;
    float: left;
    margin-right: 30px;
}

.Text-Hero h1{
    padding: 5px;
    font-size: 80px;
}

.Jumbroton-img{
    border-radius: 40px;
    max-width: 500px;
    float: left;
    margin-right: 30px;
}

.Text-Jumbroton h1{
    padding: 5px;
    font-size: 40px;
}

.Text-Jumbroton p{
    padding: 5px;
    font-size: 24px;
}

.bagian-img{
    max-width: 500px;
    float: right;
}